<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>
<p>You have <%= @game.availguesses-@game.wrong_guesses.length %> guesses remaining.</p>
<p>Wrong guesses: <%= @game.wrong_guesses %></p>
<p>Word so far: <%= @game.word_with_guesses %></p>
<p>
<%= form_with( url: game_guess_path, local: true) do |form| %>
<%= label_tag( :guess, "Guess a letter:" ) %>
<%= text_field_tag( :guess, nil, maxlength: 1 ) %>
<%= submit_tag 'Guess!' %>
<% end %>
</p>
<%= render template: 'game/new' %>